name: Release after tag

on:
  push:
    tags:
      - "v[1-9]+.[0-9]+.[0-9]+"

jobs:
  ubuntu_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create file list
        id: files_list
        run: echo "::set-output name=files::$(printf '%s ' *.md)"
      - name: Convert with pandoc
        uses: docker://pandoc/latex:2.17
        with:
          args: >-
            -o report.pdf
            --citeproc
            -N
            --metadata-file=metadata.yml
            --bibliography=bibliography.bib
            --csl=ieee.csl
            ${{ steps.files_list.outputs.files }}
      - name: Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            report.pdf
